.items {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.buttons {
    margin-top: 22px;
    display: flex;
    gap: 12px;
}

.buttons button {
    width: 100%;
    min-width: fit-content;
}

.items-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.todo-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100svh - 40px);
}
