.input-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    height: calc(100svh - 40px);
    padding: 0 8vw;
}

.input-container div {
    font-size: 30px;
    text-align: center;
}

.input-container textarea {
    min-height: 45svh;
    font-size: 18px;
    background-color: var(--background);
    resize: vertical;
    border-radius: 8px;
    border: 2px solid var(--black);
}

.input-container textarea:focus-visible {
    outline: 2px dotted var(--black);
}
