.input-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 10px;
}

.input-container div {
    font-size: 30px;
    text-align: center;
}

.input-container textarea {
    min-height: 20vh;
    resize: vertical;
    border-radius: 8px;
    border: 2px solid var(--black);
}
