@font-face {
    font-family: 'Barlow-Regulr';
    src: url('./assets/Barlow-Regular.ttf') format('truetype');
}

* {
    font-family: 'Barlow-Regulr', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    min-width: 0;
    min-height: 0;
}

:root {
    --black: #1a1a1a;
    --light: wheat;
    --background: #fffaed;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d5d0c4' fill-opacity='0.05'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");}

button.primary {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 10px 2px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--black);
    color: var(--light);
}

button.primary:hover {
    border-color: var(--light);
    box-shadow: 0 0 1px 1px var(--black);
}

button.primary:disabled {
    opacity: 0.6;
    pointer-events: none;
}

button.secondary {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 10px 2px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--light);
    color: var(--black);
}

button.secondary:hover {
    border-color: var(--black);
    box-shadow: 0 0 1px 1px var(--light);
}

button.secondary:disabled {
    opacity: 0.6;
    pointer-events: none;
}
