@font-face {
    font-family: 'Barlow-Regulr';
    src: url('/src/assets/Barlow-Regular.ttf') format('truetype');
}

* {
    font-family: 'Barlow-Regulr', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    min-width: 0;
    min-height: 0;
}

:root {
    --black: #1a1a1a;
    --light: wheat;
    --background: #fffaed;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    background-color: var(--background);
}

button.primary {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 10px 2px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--black);
    color: var(--light);
}

button.primary:hover {
    border-color: var(--light);
    box-shadow: 0 0 1px 1px var(--black);
}

button.primary:disabled {
    opacity: 0.6;
    pointer-events: none;
}

button.secondary {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 10px 2px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--light);
    color: var(--black);
}

button.secondary:hover {
    border-color: var(--black);
    box-shadow: 0 0 1px 1px var(--light);
}

button.secondary:disabled {
    opacity: 0.6;
    pointer-events: none;
}
